.card {
    grid-column: 3 / span 8;
}

.custom-card {
    margin-top: 20px;
    margin-bottom: 20px;
    scroll-margin-top: 100px;
  }

.card-style {
    color: var(--card-text);
    border-radius: 20px 10px 5px 8px;
    background-color: var(--card-background);
}

.card-line {
    border: 0;
    height: 1px;
    background: var(--text);
    background: linear-gradient(90deg, var(--text) 0%, rgba(0,0,0,0) 35%);
    opacity: .2;
}