.card {
    grid-column: 3 / span 8;
}

.custom-card {
    margin-top: 20px;
    margin-bottom: 20px;
    scroll-margin-top: 100px;
  }

.card-style {
    color: var(--card-text);
    border-radius: 20px 10px 5px 8px;
    background-color: var(--card-background);
}