
@import url(styles.css);

.dropdown-menu {
  float: left;
  overflow: hidden;
  position: fixed;
}
.dropdown-menu .dropdown-icon {
  font-size: 46px;  
  border: none;
  padding-top: 7px;
  color: var(--light-theme-text-alt);
  background-color: inherit;
  font-family: inherit;
  display: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: inherit;
  min-width: min-content;
  border-radius: 5px;
  left:5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: var(--light-theme-text-alt);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: rgb(42, 198, 198);
}
.dropdown-menu:hover .dropdown-content {
  display: block;
}