.gallery{
  grid-column: 3 / span 10;
  grid-row: 3/13;
  margin: 50px 20px 0px 0px;
}
.gallery img{
  width: 34rem;
  border-radius: 8px;
  align-self: center;
  justify-self: center;
  margin-bottom: 10px;
}


.img img{
  border-radius: 5px;
  width: 100%;
  pointer-events: none;
}

.iframe-about{
  height: 38rem;
  width: 100%;
  justify-self: end;
}