@media screen and (min-width: 1350px) and (max-width: 4000px) {
    .gallery img{
        width: 34rem;
    }
}
@media screen and (min-width: 840px) and (max-width: 1350px) {
    .gallery{
        grid-column: 4 / span 6;
        margin-top: 80px;
    }
}

@media screen and (min-width: 730px) and (max-width: 840px) {
    .gallery{
        grid-column: 3 / span 7;
        margin-top: 80px;
    }
}
@media screen and (min-width: 150px) and (max-width: 730px) {
    .gallery{
        grid-column: 2 / span 10;
        margin-top: 80px;
    }
}
@media screen and (min-width: 510px) and (max-width: 640px) {
    .gallery img{
        width: 28rem;
    }
}
@media screen and (min-width: 400px) and (max-width: 510px) {
    .gallery img{
        width: 22rem;
    }
}
@media screen and (min-width: 290px) and (max-width: 400px) {
    .gallery img{
        width: 16rem;
    }
}
@media screen and (min-width: 220px) and (max-width: 290px) {
    .gallery img{
        width: 12rem;
    }
}
@media screen and (min-width: 150px) and (max-width: 220px) {
    .gallery img{
        width: 8rem;
    }
}
