@import url(styles.css);

.grid {
    position: absolute;
    width: 100%;
}
.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 90px);
  grid-auto-rows: min-content;  
  align-items: center;
  text-align: center;
  justify-items:center; 
  height: fit-content;
  left: 15%;
  gap: 20px 20px;
}
.grid-container a{
  text-decoration: inherit;
  height: 100%;
  width: 100%;
}
.grid-item {
  height: 100%;
  width: 100%;
  min-width: 100px;
  border-radius: 10px;
  position: relative;
}

.grid-right {
  grid-column: 7 / 11;
  border-radius: 2%;
}
.grid-left {
  grid-column: 2 / 6;
  border-radius: 2%;
}
.row-content {
  grid-column: 2 / 11;
}
.row-1 {
  grid-row: 1 / 2;
}
.row-2 {
  grid-row: 2 / 3;
}
.row-3 {
  grid-row: 3 / 4;
}
.row-4 {
  grid-row: 4 / 5;
}
.row-5 {
  grid-row: 4 / 5;
}
.row-6 {
  grid-row: 4 / 5;
}
.row-7 {
  grid-row: 4 / 5;
}
.row-8 {
  grid-row: 4 / 5;
}
.col-1{
  grid-column: 1 / 2;
}
.col-2{
  grid-area: 2 / 3;
}
.col-3{
  grid-area: 3 / 4;
}
.tile-1 {
  grid-area: 4 / 1 / 5 / 4;
}
.tile-2 {
  grid-area: 4 / 5 / 5 / 8;
}
.tile-3 {
  grid-area: 4 / 9 / 5 / 12;
}
.tile-4 {
  grid-area: 5 / 2 / 6 / 3;
}
.tile-5 {
  grid-area: 5 / 6 / 6 / 7;
}
.tile-6 {
  grid-area: 5 / 10 / 6 / 11;
}