@import url(styles.css);

.header 
{
  top: 0;
  font-size: 36px;
  font-family: var(--site-font);
  font-weight: bold;
  display: inline;
  z-index: 2;
}
.header a 
{
  color: var(--header-text);
  font-family: var(--site-font);
  text-decoration: none;
}
.header a.logo 
{ 
  position: relative;
  left: 20px;
  display: none;
}
.header-menu{
  display: block;
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
  background-color: var(--header);
  opacity: 1;
}
.header-menu a{
  padding: 1.6em;
}