.header {
  position: sticky;
  top: 0;
  font-size: 36px;
  font-family: var(--site-font);
  font-weight: bold;
  display: inline;
  z-index: 2;
}
.header a {
  color: var(--header-text);
  font-family: var(--site-font);
  text-decoration: none;
}
.header a.logo { 
  position: relative;
  left: 20px;
  display: none;
}

.banner {
  font-size: 1rem;
  text-align: center;
  color: whitesmoke;
  background-color: #112932;
}

.header-nav {
  display: block;
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
  opacity: 1;
  background-color: var(--header);
}
.header-nav a {
  padding: 0 1.6em 0 1.6em;
}

.header-line {
  margin: 10px 10px 0px 10px;
  color: inherit;
  border: 1px solid var(--light-theme-text-alt);
}
