@import url(styles.css);

.home-welcome
{
  text-align: left;
  font-size: 3.2rem;
  grid-column: 5 / span 4;
  font-family: 'Cabin', sans-serif;
  color: var(--light-theme-text-alt);
  margin: 60px 0px 14px 0px;
  display: inline;
}
.home-icon-img{
  grid-column: 8 / span 2;
  color: var(--light-theme-text-alt);
  justify-self: center;
  align-self: start;
}
.home-item {
  position: relative;
}
.home-item div.item-name {
  visibility: hidden;
}
.home-item:hover div.item-name {
  visibility: visible;
  opacity: 1;
}
.home-item img.home-img {
  opacity: 1;
  transition: opacity 0.4s;
}
.home-item:hover img.home-img{
  opacity: 0.75;
}
.home-item:hover {
  transform: scale(0.65);
}
.home-item:hover .item-name {
  text-shadow: -1px 2px 8px rgba(17,41,50,0.8);
}

.key-item {
  grid-column: 4 / span 3;
}
.key-item:hover {
  transform: scale(1.45);
}
.dev-item {
  transform: translateY(22%);
}
.media-item {
  transform: translateY(-22%);
}

.side-item:hover {
  transform: scale(0.85);
}

.item-name {
  position: absolute;
  margin: auto;
  font-size: 2.8rem;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--light-theme-text-alt);
  font-family: 'Cabin', sans-serif;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

.key-name{
  top: 25%;
}
.main-name-1{
  top: 45%;
}
.main-name-2{
  top: 0%;
}
.side-name-1 {
  font-size: 1.8rem;
  left: -5%;
  bottom: -35%;
}
.side-name-2 {
  font-size: 1.8rem;
  left: -35%;
  bottom: -35%;
}
.side-name-3 {
  font-size: 1.8rem;
  left: -15%;
  bottom: -35%;
}
.tile-1 {
  grid-column: 4 / span 3;
  grid-row: 4 / span 2;
  transform: scale(1.4);
  justify-self: center;
  align-self: center;
  width: min-content;
}
.tile-2 {
  grid-column: 7 / span 2;
  transform: scale(0.6);
  width: min-content;
}
.tile-3 {
  grid-column: 7 / span 2;
  transform: scale(0.6);
  width: min-content;
}
.tile-4 {
  grid-column: 5 / span 1;
  transform: scale(0.7);
  justify-self: center;
  align-self: center;
}
.tile-5 {
  grid-column: 6 / span 1;
  transform: scale(0.7);
  justify-self: center;
  align-self: center;
}
.tile-6 {
  grid-column: 7 / span 1;
  transform: scale(0.7);
  justify-self: center;
  align-self: center;
}