.home-container {
  width: 100%;
  display: grid ;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: min-content;
  gap: 10px;
}
.home {
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: stretch;
}
.home-welcome {
  grid-column: 1 / span 12;
  font-size: 3.0rem;
  font-family: 'Cabin', sans-serif;
  color: var(--text);
  margin: 60px 0px 40px 0px;
}
.home-item {
  align-self: auto;
}
.home-img {
  opacity: 1;
  transition: opacity 1s;
}
.home-item:hover .home-img {
  opacity: 0.85;
}
.item-name {
  position: absolute;
  font-size: 2.2rem;
  text-align: center;
  color: var(--text);
  font-family: 'Cabin', sans-serif;
  opacity: 0;
  transition: opacity 0.5s;
}
.home-item:hover .item-name {
  opacity: 1;
}
.main-item {
  margin-top: 60px;
  transform: scale(0.6);
  transition: transform 0.75s ease, opacity 1s ease;
}
.main-item:hover {
  transform: scale(0.65);
}
.side-item {
  margin-top: 20px;
  transform: scale(0.6);
  transition: transform 0.75s;
}
.side-item:hover {
  transform: scale(0.65);
}

#icon-1 {
  grid-column: 4 / span 2;
}
#icon-2{
  grid-column: 6 / span 2;
}
#icon-3 {
  grid-column: 8 / span 2;
}
#icon-4 {
  grid-column: 6 / span 2;
}
#icon-1 .item-name {
  left: 11%
}
#icon-2 .item-name {
  left: 37%
}
#icon-3 .item-name {
  left: 30%
}
#icon-4 .item-name {
  right: -12%;
}