.gallery{
  margin-top: 5%;
  grid-row: 2/12;
}
.gallery img{
  width: 28rem;
  border-radius: 8px;
  align-self: center;
  justify-self: center;
  margin-bottom: 10px;
}
.gallery-gap{
  grid-template-columns: 4 / span 6;
  height: 100px;
}

.img img{
  border-radius: 5px;
  width: 100%;
  pointer-events: none;
}

.iframe-about{
  height: 38rem;
  width: 100%;
  justify-self: end;
}