@import url(styles.css);

.page-title {
  font-size: 80px;
  position: relative;
  font-family: 'Cabin', sans-serif;
  color: var(--light-theme-text-alt);
  margin: auto;
  text-shadow: -1px 1px 1px rgba(255,255,255,0.9), -3px 3px 2px rgba(242,242,242,0.8);
}
.page-icon {
  margin: auto;
  border-radius: 2%;
}
.page-banner {
  color: var(--light-theme-text-alt);
  background-color: rgb(179, 242, 181);
  border: 2px inset rgb(152, 249, 155);
  border-radius: 5px 5px 5px 5px;
}
.page-link {
  color: inherit; 
}
.page-link:hover {
  color: rgb(179, 10, 95);
}
.page-content {
  color: var(--light-theme-text-alt);
  font-size: 20px; 
  justify-self: start;
  text-align: left;
  border: 5px solid var(--light-theme-text-bg);
  border-radius: 20px 20px 5px 5px;
  background-color: var(--light-theme-text-bg); 
  -webkit-box-shadow: -4px 4px 1px 0px rgba(7,61,61,0.6), -8px 8px 2px 0px rgba(8,80,80,0.5), -12px 12px 4px 0px rgba(10,90,90,0.4); 
  box-shadow: -4px 4px 1px 0px rgba(7,61,61,0.6), -8px 8px 2px 0px rgba(8,80,80,0.5), -12px 12px 4px 0px rgba(10,90,90,0.4);
}
.page-image-right {
  grid-area: 1 / 7 / 2 / 10;
  border-radius: 2%;
}
.page-image-left {
  grid-area: 1 / 1 / 2 / 6;
  border-radius: 2%;
}
.page-id {
  grid-column-start: span 1;
}
.page-info {
  padding-top: 50px;
  text-align: left;
  color: var(--light-theme-text-alt);
}
.page-info-line {
  border: 1px solid var(--light-theme-text-alt);
  border-radius: 2px;
}
.page-links {
  border-radius: 5px 5px 5px 5px;
}
