* {box-sizing: border-box;}
body 
{ 
  font-family: Arial, Helvetica, sans-serif;
  background-color:#e3e3e3;
  margin: 0 auto;
  overflow-y: scroll;
  overflow-x: hidden;
  color: white;
}

body.dark-theme {
  color: #eee;
  background-color: #5e5e5e;
}
body.dark-theme a {
  color: #e7e7e8;
}
body.dark-theme .dropdown-content {
  background-color: #6f6e6e;
}
body.dark-theme .dropdown-content a:hover {
  background-color: rgb(147, 147, 147);
}
body.dark-theme button.dropdown-icon{
  color: rgb(203, 203, 203);
}
body.dark-theme div.footer-info {
  color: rgb(203, 203, 203);
}
body.dark-theme a.logo {
  color: rgb(203, 203, 203);
} 
body.dark-theme h1.page-title {
  color: rgb(203, 203, 203);
} 
body.dark-theme div.sun-points {
  transform: scale(0.45);
}
body.dark-theme div.moon {
  transform: scale(1.05);
}
.header 
{
  background-color: inherit;
}
.header-space{
  height: 100px;
}
.header a 
{
  font-family: 'Poppins', sans-serif;
}
.header a.logo 
{
  font-size: 28px;
  font-weight: bold;
  color: rgb(70, 70, 70);
  text-decoration: none; 
  position: relative;
  left: 15%;
}
.header a.logo .logo-1
{
  animation: logo1 1.25s 1;
}
.header a.logo .logo-2
{
  animation: logo2 0.75s 1;
}

@keyframes logo1
{
  from {top: -20px; font-size: 5px;}
  to {top: 0px; font-size: 28px;}
}
@keyframes logo2
{
  from {top: 20px; font-size: 5px;}
  to {top: 0px; font-size: 28px;}
}

.mode-container
{
    position: relative;
    background-color: #5e5e5e;
    box-shadow: 0 0 0 2px lightgrey;
    border-radius: 99999px;
    height: 30px;
    width: 62px;
    left:18px;
    bottom: 4px;
    z-index: 0;
}
.mode-selector{
    background-color: white;
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 62px;
    height: 30px;
    border-radius: 99999px;
    z-index: 3;
}

.dropdown-menu {
  float: left;
  overflow: hidden;
}

.dropdown-menu .dropdown-icon {
  font-size: 50px;  
  border: none;
  color: rgb(70, 70, 70);
  background-color: inherit;
  font-family: inherit;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: min-content;
  border-radius: 5px;
  left:5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-menu:hover .dropdown-content {
  display: block;
}

.grid-container
{
  position: relative;
  display: grid;
  margin:auto;
  grid-template-columns: repeat(12, 90px);
  grid-auto-rows: min-content;  
  align-items: center;
  justify-items:center; 
  width: 100%;
  height: fit-content;
  left: 15%;
  gap: 20px 0px;
}
.grid-link{
  text-decoration: inherit;
  text-align: center;
  height: 100%;
  width: 100%;
}
.grid-item 
{
  text-align: center;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  min-width: 100px;
  border-radius: 10px;
  position: relative;
}

.main-item:hover 
{
  opacity: 1;
  transform: scale(1.03);
  background-image: none;
}
.main-item:hover
{
  filter: blur(0px);
}

.side-item:hover 
{
  opacity: 1;
  transform: scale(1.06);
}
.side-item:hover
{
  opacity: 1;
  transform: scale(1.1);
  filter: blur(0px);
}
.main-section-name{
  color: white;
  background-color: #5e5e5e;
  border-radius: 6px;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  position: absolute;
}
.side-section-name{
  color: white;
  background-color: #5e5e5e;
  border-radius: 6px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  top: 70px;
  text-align: center;
  position: absolute;
}
.projects-name{
  top: 80px;
  left: 110px;
}
.dev-name{
  top: 160px;
  left: 56px;
}
.media-name{
  top: 60px;
  left: 34px;
}
.main-item:hover > div.main-section-name{
  top: 30%;
  left: initial;
  font-size: 36px;
  text-align: center;
  width: 100%;
}
.about-name{
  left: 20px;
}
.resources-name{
  left: 5px;
}
.interests-name{
  left: 10px;
}
.side-item:hover > div.side-section-name{
  top: 60px;
  left: initial;
  font-size: 20px;
  text-align: center;
  width: 100%;
}
.side-item:hover > div.resources-name{
  top: 60px;
  left: -6px;
  font-size: 20px;
  text-align: center;
  width: 120%;
}

.tile-1 
{
  grid-area: 1 / 1 / 2 / 4;
}
.tile-2 
{
  grid-area: 1 / 5 / 2 / 8;
}
.tile-3 
{
  grid-area: 1 / 9 / 2 / 12;
}
.tile-4 
{
  grid-area: 3 / 2 / 4 / 3;
}
.tile-5 
{
  grid-area: 3 / 6 / 4 / 7;
}
.tile-6 
{
  grid-area: 3 / 10 / 4 / 11;
}
.page-title
{
  color: rgb(70, 70, 70);
  grid-area: 1 / 1 / 2 / 4;
}
.page-link{
  color: inherit; 
}
.page-link:hover {
  color: hotpink;
}
.page-content
{
  font-size: 20px; 
  text-align: left;
  background-color: #5e5e5e;
  border-radius: 8px;
  border: 4px solid #5e5e5e;
}
.page-content-main
{
  grid-area: 3 / 7 / 4 / 12;
}
.page-content-side
{
  grid-area: 3 / 6 / 4 / 12;
}
.page-content-media-1{
  grid-area: 3 / 8 / 4 / 12;
}
.page-content-about-1
{
  grid-area: 3 / 1 / 4 / 7;
}
.page-content-about-2
{
  grid-area: 5 / 6 / 6 / 12;
}
.page-content-about-3
{
  grid-area: 6 / 6 / 7 / 12;
}
.page-content-resume
{
  grid-area: 9 / 1 / 12 / 12;
}
.page-content-project-1
{
  grid-area: 5 / 1 / 6 / 12;
}
.page-content-project-2
{
  grid-area: 7 / 1 / 8 / 12;
}
.page-content-project-3
{
  grid-area: 9 / 1 / 10 / 12;
}
.page-content-project-4
{
  grid-area: 11 / 1 / 12 / 12;
}
.page-content-project-5
{
  grid-area: 13 / 1 / 14 / 12;
}
.page-content-dev-1
{
  grid-area: 5 / 1 / 6 / 12;
}
.page-content-dev-2
{
  grid-area: 7 / 1 / 8 / 12;
}
.page-content-dev-3
{
  grid-area: 9 / 1 / 10 / 12;
}
.page-content-dev-4
{
  grid-area: 11 / 1 / 12 / 12;
}
.page-content-resources-1
{
  grid-area: 5 / 1 / 6 / 12;
}
.page-content-resources-2
{
  grid-area: 7 / 1 / 8 / 12;
}
.page-content-interests-1{
  grid-area: 5 / 1 / 6 / 12;
}
.page-image-top-right
{
  grid-area: 3 / 8 / 4 / 12;
  border-radius: 2%;
}
.page-image-top-media{
  grid-area: 3 / 1 / 4 / 8;
  border-radius: 2%;
}
.page-image-top-left
{
  grid-area: 3 / 1 / 4 / 5;
  border-radius: 2%;
}
.page-image-middle-left
{
  grid-area: 5 / 1 / 7 / 5;
  border-radius: 2%;
}



.gallery-image{
  border-radius: 8px;
  width: 100%;
}
.gallery-img1{
  grid-area: 5 / 5 / 6 / 12;
}
.gallery-img2{
  grid-area: 7 / 1 / 8 / 7;
}
.gallery-img3{
  grid-area: 9 / 5 / 10 / 12;
}
.gallery-img4{
  grid-area: 11 / 1 / 12 / 7;
}
.gallery-img5{
  grid-area: 13 / 5 / 14 / 12;
}
.gallery-img6{
  grid-area: 15 / 1 / 16 / 7;
}
.gallery-img7{
  grid-area: 17 / 5 / 18 / 12;
}
.gallery-img8{
  grid-area: 19 / 1 / 20 / 7;
}
.gallery-img9{
  grid-area: 21 / 5 / 22 / 12;
}
.gallery-img10{
  grid-area: 23 / 1 / 24 / 7;
}
@media screen and (max-width:1150px) {
  body 
  {
    background-color: pink;
  }
}

@media screen and (max-width: 900px) 
{
  /* start of large tablet styles */
  body 
  {
    background-color: yellow;
  }
  .grid-container
  {
    width: 890px;
    height: 600px;
    gap: 30px;
  } 
  .grid-item 
  {
    min-width: 220px;
  }
 
}

@media screen and (max-width: 840px) 
{
  body 
  {
    background-color: darkcyan;
  }
  .grid-container
  {
    width: 520px;
    height: 785px;
    gap: 10px;
  } 
  .grid-item 
  {
    margin-right: 2%;
    margin-left: 2%;
  }
}
@media screen and (max-width: 500px) 
{
  .header a 
  {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right 
  {
    float: none;
  }
}

.moon {
    position: absolute;
    opacity: 1;
    top: -3px;
    left: 26px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 4px 4px 0 0 rgba(220, 220, 219, 0.969);
    z-index: 2;
    transform: scale(0.5);
    transition: transform 1s ease-out;
}

.sun-points {
    opacity: 1;
    position: absolute;
    top: 7px;
    left: 9px;
    width: 16px;
    height: 16px;
    box-shadow: 0 0 0 2px rgb(230, 230, 230);
    z-index: 2;
    transform: scale(1);
    transition: transform 1s ease-out;
  }
  .sun-points:before,
  .sun-points:after {
    position: absolute;
    top: 0px;
    left: 0;
    content: "";
    height: 16px;
    width: 16px;
    /* background: rgb(230, 230, 14); */
    background: rgb(230, 230, 230);
    z-index: 2;
  }
  .sun-points:before {
    transform: rotate(30deg);
    /* box-shadow: 0 0 0 2px rgb(230, 230, 14); */
    box-shadow: 0 0 0 2px rgb(230, 230, 230);
  }
  .sun-points:after {
    /* box-shadow: 0 0 0 4px rgb(230, 230, 14);
    background: rgb(222, 173, 15);
    outline: rgb(230, 230, 14) solid 2px; */
    box-shadow: 0 0 0 4px rgb(230, 230, 230);
    background: rgb(200, 200, 200);
    outline: rgb(230, 230, 230) solid 2px;
    transform: rotate(60deg);
    border-radius: 50%;
  }

.footer {
  position: fixed;
  width: 100%;
  height: 40px;
  color: rgb(70, 70, 70);
  bottom: 0;
}
.footer-info{
  position: fixed;
  right: 5px;
  bottom: 0;
}