@import url(dropdown-menu.css);
@import url(footer.css);
@import url(grid.css);
@import url(header.css);
@import url(images.css);
@import url(media-screen.css);
@import url(mode.css);
@import url(home.css);
@import url(site.css);
@import url(utils.css);

:root {
  --dark-theme-main: #5e5e5e;
  --dark-theme-text: rgb(234, 234, 234);
  --dark-theme-text-bg: rgb(114, 114, 114);
  --light-theme-main: #008b8b;
  --light-theme-text-bg: #f2f2f2;
  --light-theme-text-alt: #112932;
  --header: rgb(45, 195, 195);
  --text-shadow: -1px 1px 1px rgba(255,255,255,0.9), -3px 3px 2px rgba(242,242,242,0.8);
  --site-font: 'Cabin', sans-serif;
}

html::-webkit-scrollbar {
  width: 1vw;
}
html::-webkit-scrollbar-thumb {
  background-color: #7775;
}
html::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}
html::-webkit-scrollbar-track {
  background-color: #5555;
}
html::-webkit-scrollbar-track:hover {
  background-color: #555;
}

* {box-sizing: border-box;}
html{
  margin-top:0;
  padding-top:0;
}

body 
{ 
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--light-theme-main);
}