:root {
    --gray: rgb(155, 155, 155);
    --light-gray: rgb(180, 180, 180);
    --lighter-gray: rgb(200, 200, 200);
    --off-white: rgb(220, 220, 220);
    --bright-off-white: rgb(228, 228, 228);
    --blue: rgb(59, 46, 197);
    --light-blue: #bfd9ff;
    --lighter-blue: rgb(200, 222, 255);
    --bs-bg-dark: #22252a;
    --bs-bg-dark-alt: #282b30;
    --bs-bg-dark-alt-light: #34373c;
}

.divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

.svgs path {
    fill: var(--lighter-gray);
}

.card a {
    color: var(--bright-off-white);
    text-decoration: none;
}

.card a:hover {
    color: var(--light-gray);
    text-decoration: underline;
}
