*{
    box-sizing: border-box;
}

:root {
    --star-time: 4s; 
    --star-blur: rgb(200, 200, 200);
    --star-translateX: 0px; 
    --star-translateY-0: -100px;
    --star-translateY-25: 50px;
    --star-translateY-50: 200px;
    --star-translateY-75: 350px;
    --star-translateY-100: 500px;

    --ship-translateX: 0px;
    --ship-translateY: 0px;

    --graphics-time: 4s;
  }
body{
    background-color: rgb(6, 44, 60);
    color: whitesmoke;
}
/* game-container houses entire game */
.game-container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 10px;
    grid-template-rows: auto;
    grid-row-gap: 10px;
}
.game-text{
    font-family: 'Major Mono Display', monospace;
    font-size: 20px;
}

/* game-menu houses title and options */
.game-menu{
    grid-column: 2 / span 6;
    grid-row: 1 / span 1;
    border: solid 8px rgb(2, 57, 81);
    width: 75%;
    margin: auto;
}
.game-title{
    font-size: 32px;
    text-align: center;
}
.game-instructions{
    grid-column: 2 / span 6;
    grid-row: 3 / span 2;
}

.button-container{
  position: relative;
}
.start-button{
  color:whitesmoke;
  border-radius: 4px;
  padding: 4px 8px;
  text-align: center;
  font-size: 34px;
  width: 200px;
  cursor: pointer;
  background-color: rgb(33, 62, 39);
  position: absolute;
  top:400px;
  left:500px;
  z-index: 1;
}
.quit-button{
  color:whitesmoke;
  border-radius: 2px;
  padding: 4px 8px;
  text-align: center;
  font-size: 20px;
  width: 100px;
  cursor: pointer;
  grid-column: 6 / span 1;
  grid-row: 5 / span 1;
  background-color: rgb(10, 13, 19);
  position: absolute;
  top: 720px;
  left: 10px;
  z-index: 2;
}


/* game hud houses time and score */
.game-hud{
    grid-column: 2 / span 5;
    grid-row: 5 / span 1;
    font-size: 28px;
    text-align: center;
}
.borderstyle{
    background-color: rgb(25, 31, 47);
    border: solid 4px rgb(25, 31, 47);
    border-radius: 4px;
}


/* graphics-container houses all game animations */
.graphics-container{
  grid-column: 2 / span 6;
  grid-row: 6 / span 8;
}
.graphics{
  width: 800px; /* width: 480px; width: 640px; */
  height: 450px; /* height: 270px; height: 360px; */
  margin: 20px;
  border-radius: 5px;
  border: solid 8px rgb(2, 57, 81);
  background-color: #121212;
  position: absolute;
  overflow: hidden;
  animation: graphics var(--graphics-time) linear 1;
}
.star{
  padding: 2px;
  top:800;
  left:600;
  position: relative;
  height: 4px;
  width: 4px;
  border-color: black;
  background-color: whitesmoke;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 2px rgb(193, 195, 195);
  animation: star var(--star-time) linear infinite;
  transform: translate(0px,0px);
}

#ship-container{
  position: absolute;
  width: 50%;
  margin: auto;
  transform: translate(var(--ship-translateX), var(--ship-translateY));
}
#ship-wrapper{
  margin: auto;
}
#ship{
  position: relative;
  width: 50%;
  margin: auto;
  transform: scale(0.2);
}
.ship-component{
  position: absolute;
  width: 0;
  height: 0;
}
#ship-nose{
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 110px solid red; 
}
#ship-body{
  position: absolute;
  top: 110px;
  width: 100px;
  height: 200px;
  background: red;
}
#ship-wing-left{
  top: 200px;
  left: -60px;
  border-bottom: 100px solid red;
  border-left: 100px solid transparent;
}
#ship-wing-right{
  top: 200px;
  left: 60px;
  border-bottom: 100px solid red;
  border-right: 100px solid transparent;
}
#ship-tail{
  top: 280px;
  left: 20px;
  border-bottom: 50px solid red; 
  border-left: 32px solid transparent;
  border-right: 32px solid transparent;
}
#ship-tail-fire{
  top: 330px;
  left: 32px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 50px solid yellow;
  visibility: hidden;
}


.ufo-container{
  position: absolute;
  width: 50%;
  margin: auto;
}
.ufo{
  position: relative;
  width: 50%;
  margin: auto;
  transform: scale(0.2); 
}
.ufo-component{
  position: absolute;
}
.ufo-glass{
  top: -14px;
  left: 80px;
  width: 220px;
  height: 120px;
  border-radius: 48%;
  background: lightgreen;
  z-index:10;
  opacity: 40%;
}
.ufo-alien{
  left:200px;
  display: block;
  width: 32px;
  height: 45px;
  background-color: DarkOliveGreen;
  border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%;
  z-index: 9;
}
.ufo-alien-eye-left{
  top:8px;
  left:206px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-left: 6px solid red;
  border-bottom: 4px solid transparent;
  z-index:9;
}
.ufo-alien-eye-right{
  top:8px;
  left:218px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-left: 6px solid red;
  border-bottom: 4px solid transparent;
  z-index:9;
}
.ufo-alien-body{
  top: 45px;
  left:200px;
  border-bottom: 40px solid DarkOliveGreen;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  width: 20px;
  z-index: 9;
}
.ufo-top{
  top: 36px;
  left: 90px;
  width: 200px;
  height: 60px;
  background-color: darkgreen;
  border-radius: 50%;
  z-index: 8;
}
.ufo-body-upper{
  top: 30px;
  left: 50px;
  width: 300px;
  height: 100px;
  background-color: limegreen;
  border-radius: 50%;
  z-index: 7;
}
.ufo-body-lower{
  top: 30px;
  left: 50px;
  width: 300px;
  height: 120px;
  background-color: green;
  border-radius: 50%;
}
.ufo-antenna-pole{
  top: 20px;
  left: 300px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 50px solid darkgreen;
  z-index: 8;
}
.ufo-antenna-base{
  top: 66px;
  left: 300px;
  width: 20px;
  height: 10px;
  background: darkgreen;
  border-radius: 50%;
  z-index: 8;
}
.ufo-antenna-bead{
  top: 20px;
  left: 302px;
  width: 16px;
  height: 16px;
  background: mediumseagreen;
  border-radius: 50%;
  z-index: 8;
}

.laser{
  position: absolute;
  width: 4px;
  height: 20px;
  left: 136px;
  background: red;
  border-radius: 10px / 5px;
  opacity: 0;
  transform: translate(var(--ship-translateX), var(--ship-translateY));
}

@keyframes graphics {
  0%   { opacity: 0; background-color: #ffffff;}
  25%  { opacity: 0.2; background-color: #8a8a8a;}
  50%  { opacity: 0.4; background-color: #6e6e6e;}
  75%  { opacity: 0.7;background-color: #474747;}
  100% { opacity: 1; background-color: #121212;}
}

@keyframes star {
    0%   { opacity: 1; box-shadow: 0px -2px 0px 1px var(--star-blur); transform: translate(var(--star-translateX), var(--star-translateY-0));}
    25%  { opacity: 0.8; box-shadow: 0px -2px 0px 1px var(--star-blur); transform: translate(var(--star-translateX), var(--star-translateY-25));}
    50%  { opacity: 0.6; box-shadow: 0px -2px 0px 1px var(--star-blur); transform: translate(var(--star-translateX), var(--star-translateY-50));}
    75%  { opacity: 0.3; box-shadow: 0px -1px 0px 0px var(--star-blur); transform: translate(var(--star-translateX), var(--star-translateY-75));}
    100% { opacity: 0; box-shadow: 0px -1px 0px 0px var(--star-blur); transform: translate(var(--star-translateX), var(--star-translateY-100));}
}

/* 
  graphics sizes for @media 
  width: 800px; width: 480px; width: 640px; 
  height: 450px; height: 270px; height: 360px;  
*/