* {box-sizing: border-box;}

body 
{ 
  font-family: Arial, Helvetica, sans-serif;
  background-color: #434242;
  margin: 0 auto;
  overflow: auto; 
}

.header 
{
  position: relative;
  height: 40px;
  background-color: #575757;
}
.header a 
{
  float: left;
  font-family: 'Audiowide', cursive;
  font-style: italic;
}
.header a.logo 
{
  font-size: 28px;
  font-weight: bold;
  color: white;
  text-decoration: none; 
}
.header a.logo .logo-1
{
  animation: logo1 1s 1;
  position: relative;
}
.header a.logo .logo-2
{
  animation: logo2 1s 1;
  position: relative;
}

@keyframes logo1
{
  from {top: -20px; font-size: 5px;}
  to {top: 0px; font-size: 28px;}
}
@keyframes logo2
{
  from {top: 20px; font-size: 5px;}
  to {top: 0px; font-size: 28px;}
}
#mode-select
{
  position:absolute;
  top:5px;
  right:5px;
}
.body-light-mode {
  background-color:white;
  color: black;
}

.mode-container
{
    margin: auto;
    position: relative;
    background-color: rgb(87, 89, 99);
    box-shadow: 0 0 0 2px lightgrey;
    border-radius: 99999px;
    height: 30px;
    width: 62px;
    z-index: 0;
}
.mode-selector{
    background-color: white;
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 62px;
    height: 30px;
    border-radius: 99999px;
    z-index: 3;
}


.grid-container
{
  display: grid;
  margin:auto;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 100px;  
  align-items: center;
  justify-items:center; 
  width: 1150px;
  height: 640px;
  gap: 80px;
}

.grid-item 
{
  text-align: center;
  opacity: 0.7;
  border-radius: 10px;
  border: black solid 4px;
  height: 100%;
  width: 100%;
  
}
.grid-img{
  filter: blur(1px);
}
.main-item{
  min-width: 100px;
}
.main-item:hover 
{
  opacity: 1;
  transform: scale(1.03);
  background-image: none;
}
.main-item:hover .grid-img
{
  filter: blur(0px);
}
.side-item{
  min-width: 100px;
}
.side-item:hover 
{
  opacity: 1;
  transform: scale(1.06);
}
.side-item:hover .grid-img
{
  opacity: 1;
  transform: scale(1.1);
  filter: blur(0px);
}
.tile-name{
  color:#a39ca1;
  background-color:#000000;
  font-family: 'Audiowide', cursive;
  font-size: 24px;
  box-shadow: 0 0 0 4px black; 
}
.tile-1 
{
  grid-area: 1 / 1 / 3 / 3;
  background-color: #606dbc;
}
.tile-2 
{
  grid-area: 1 / 3 / 3 / 5;
  background-color: #68bc60;
}
.tile-3 
{
  grid-area: 3 / 1 / 5 / 3;
  background-color: #bc60a8;
}
.tile-4 
{
  grid-area: 3 / 3 / 5 / 5;
  background-color: #f5ca54;
}
.tile-5 
{
  grid-area: 1 / 5 / 2 / 7;
  background-color: #fafad3;
}
.tile-6 
{
  grid-area: 2 / 5 / 3 / 7;
  background-color: #fb9e78;
}
.tile-7 
{
  grid-area: 3 / 5 / 4 / 7;

  background-color: #9aedf8;
}
.tile-8 
{
  grid-area: 4 / 5 / 5 / 7;
  background-color: #78fb9f;
} 

#projects-img{
  margin-top: 10px;
  transform: scale(1);
  object-fit: cover;
}
#web-dev-img{
  margin-top: 25px;
  transform: scale(1);
  object-fit: cover;
}
#programming-img{
  margin-top: 25px;
  transform: scale(1);
  object-fit: cover;
}
#media-img{
  margin-top: 25px;
  transform: scale(1);
  object-fit: cover;
}
#about-img{
  margin-top: 5px;
}
#vision-img{
  margin-top: 5px;
}
#resources-img{
  margin-top: 5px;
}
#inspiration-img{
  margin-top: 5px;
}

@media screen and (max-width:1150px) {
  body 
  {
    background-color: pink;
  }
}

@media screen and (max-width: 900px) 
{
  /* start of large tablet styles */
  body 
  {
    background-color: yellow;
  }
  .grid-container
  {
    width: 890px;
    height: 600px;
    gap: 30px;
  } 
  .grid-item 
  {
    min-width: 220px;
  }
 
}

@media screen and (max-width: 840px) 
{
  body 
  {
    background-color: darkcyan;
  }
  .grid-container
  {
    width: 520px;
    height: 785px;
    gap: 10px;
  } 
  .grid-item 
  {
    margin-right: 2%;
    margin-left: 2%;
  }
  /* .tile-5 
  {
    grid-area: 5 / 1 / span 1 / span 2;
  }
  .tile-6 
  {
    grid-area: 5 / 3 / span 1 / span 2;
  }
  .tile-7
  {
    grid-area: 6 / 1 / span 1 / span 2;
  }
  .tile-8 
  {
    grid-area: 6 / 3 / span 1 / span 2;
  } */
}
@media screen and (max-width: 500px) 
{
  .header a 
  {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right 
  {
    float: none;
  }
}

.moon {
    position: absolute;
    opacity: 1;
    top: -2px;
    left: 30px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 4px 4px 0 0 rgb(227, 218, 94);
    z-index: 2;
    transform: scale(1);
    transition: transform 1s ease-out;
}

.sun-points {
    opacity: 1;
    position: absolute;
    top: 7px;
    left: 9px;
    width: 16px;
    height: 16px;
    box-shadow: 0 0 0 2px rgb(230, 230, 14);
    z-index: 2;
    transform: scale(0.5);
    transition: transform 1s ease-out;
  }
  .sun-points:before,
  .sun-points:after {
    position: absolute;
    top: 0px;
    left: 0;
    content: "";
    height: 16px;
    width: 16px;
    background: rgb(230, 230, 14);
    z-index: 2;
  }
  .sun-points:before {
    transform: rotate(30deg);
    box-shadow: 0 0 0 2px rgb(230, 230, 14);
  }
  .sun-points:after {
    box-shadow: 0 0 0 4px rgb(230, 230, 14);
    background: rgb(222, 173, 15);
    outline: rgb(230, 230, 14) solid 2px;
    transform: rotate(60deg);
    border-radius: 50%;
  }



  
#footer {
  position: fixed;
  width: 100%;
  height: 40px;
  color: white;
  bottom: 0;
}
#footer-info{
  position: fixed;
  right: 5px;
  bottom: 0;
}
